* {
    padding: 0px;
    margin: 0px;
    font-family:Optima ;
}

body {
   background-color:  gray ;
}

header {

    color: white;
    width: 100%;
    max-width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: #333;
    position: fixed;
    z-index: 1;
}

#logo {
    display: flex;
    overflow: hidden;
    font-family: Luminari;
}

#logo:hover {
  color: red; 
}

header a {
    padding: 14px 20px;
      text-decoration: none;
      text-align: center;
      color: white;
      transition: all .5s ease-in-out .2s;
}

header a:hover {
    background-color: #ddd;
    color: black;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }

  .search-bar {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .search-bar input[type="text"] {
    padding: 5px;
    border: none;
    width: 200px;
    border-radius: 3px;
  }

  .search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #ddd;
    color: black;
    cursor: pointer;
    border-radius: 3px;
  }

  .search-bar button:hover {
    background-color: #ccc;
  }

  .search1-bar {
    display: none;
    align-items: center;
    margin-right: 10px;
  }

  .search1-bar input[type="text"] {
    padding: 5px;
    border: none;
    width: 200px;
    border-radius: 3px;
  }

  .search1-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #ddd;
    color: black;
    cursor: pointer;
    border-radius: 3px;
  }

  .search1-bar button:hover {
    background-color: #ccc;
  }

  .dropdown {
    display: none;
}

  .modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    position: relative;
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

/* Input and buttons */
input[type="email"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #555;
}

#left-button {
    width: 2%;
    height: fit-content;
}

#right-button {
    width: 2%;
    height: fit-content;
}

  #Home-page {
    display: flex;
      overflow-x: hidden;
      white-space: nowrap;
      width: 96%;
      background-color: #f0f0f0;
      padding: 10px;
      gap: 3px;
  }

  #Home-page img {
    object-fit: fil;
        flex: 0 0 auto; 
        margin: 0 3px;
        border-radius: 20px;
        box-shadow: 0 0 10px black;
        transition: transform 0.3s;
        height: 300px;
    }

#Home-page img:hover {
       width: 35%;
       transition: all ease-in-out 0.5s;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .scroll-control {
        margin: 10px 0;
        padding-top: 60px;
        animation: fade linear forwards;
        transform-origin: top;
        animation-timeline: view();
        animation-range: exit;
        z-index: 1;
        overflow: hidden;

    }

    @keyframes fade {
      5%,30%{opacity: 0.5;}
    80%,100% {opacity: 0;scale: 2;z-index: -1;}
      
    }

    .scroll-control button {
        font-size: 24px;
        margin: 0 10px;
        cursor: pointer;
    }

#Chennai {
  width: 80%;
  height: fit-content;  
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  animation: fade linear forwards;
  transform-origin: bottom;
  animation-timeline: view();
  animation-range: exit;
  z-index: 1;
  overflow: hidden;
}

#Chennai img {
  object-fit: fill;
  width: 50%;
  display: flex;
  margin: 30px auto;
  max-height: 1000px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 10px black;

}

@keyframes fade-in {

  to {
    scale: 1;
    opacity: 0;
  }
  
}

#Chennai img:hover {
  box-shadow: none;
  cursor: pointer;
}

#Chennai .chennai-content {
  width: 100%;
  margin: 0px 10px;
}

#Chennai .chennai-content ul li {
  width: 100%;
  margin: 0 30px;
}

#Chennai button {
  display: flex;
  width: 10%;
  height: 30px;
  justify-items: center;
  margin : 20px auto;
  border-radius: 20px;
  font-weight: 1000;
  color: black;
  border: none;
  box-shadow: -5px -5px 10px black;
  transition: transform 0.5s ease-in-out ,background-color 0.5s, color 0.5s;
}

#Chennai button:hover {
  transform : translateY(-10px);
  box-shadow: none;
  cursor: pointer;
  color: white;
  background-color: #333;
}

#Chennai button a {
  text-decoration: none;
  color: black;
  margin-top: 5%;
  margin-left: 22%;

}

#Chennai button a:hover{
  color: white;
}

#Madurai {
  width: 80%;
  height: fit-content;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  animation: fade linear forwards;
  transform-origin: bottom;
  animation-timeline: view();
  animation-range: exit;
  z-index: 1;
  overflow: hidden;
}

#Madurai img {
  object-fit: fil;
  width: 50%;
  display: flex;
  margin: 30px auto;
  max-height: 1000px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 10px black;
  transition: all ease-in-out 1s;
  animation: slideInRight 1s ease-in ;
}

#Madurai img:hover {
  box-shadow: none;
  cursor: pointer;
}

#Madurai .madurai-content {
  width: 100%;
  margin: 0px 10px;
}

#Madurai .madurai-content ul li {
  width: 100%;
  margin: 0 30px;
}

#Madurai button {
  display: flex;
  width: 10%;
  height: 30px;
  justify-items: center;
  margin : 20px auto;
  border-radius: 20px;
  font-weight: 1000;
  color: black;
  border: none;
  box-shadow: -5px -5px 10px black;
  transition: transform 0.5s ease-in-out ,background-color 0.5s, color 0.5s;
}

#Madurai button:hover {
  transform : translateY(-10px);
  box-shadow: none;
  cursor: pointer;
  color: white;
  background-color: #333;
}

#Madurai button a {
  text-decoration: none;
  color: black;
  margin-top: 5%;
  margin-left: 22%;

}

#Madurai button a:hover{
  color: white;
}

#thanjavur {
  width: 80%;
  height: fit-content;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  animation: fade linear forwards;
  transform-origin: bottom;
  animation-timeline: view();
  animation-range: exit;
  z-index: 1;
  overflow: hidden;
}

#thanjavur img {
  object-fit: fil;
  width: 50%;
  display: flex;
  margin: 30px auto;
  max-height: 1000px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 10px black;
  transition: all ease-in-out 1s;
}

#thanjavur img:hover {
  box-shadow: none;
  cursor: pointer;
}

#thanjavur .thanjavur-content {
  width: 100%;
  margin: 0px 10px;
}

#thanjavur .thanjavur-content ul li {
  width: 100%;
  margin: 0 30px;
}

#thanjavur button {
  display: flex;
  width: 10%;
  height: 30px;
  justify-items: center;
  margin : 20px auto;
  border-radius: 20px;
  font-weight: 1000;
  color: black;
  border: none;
  box-shadow: -5px -5px 10px black;
  transition: transform 0.5s ease-in-out ,background-color 0.5s, color 0.5s;
}

#thanjavur button:hover {
  transform : translateY(-10px);
  box-shadow: none;
  cursor: pointer;
  color: white;
  background-color: #333;
}

#thanjavur button a {
  text-decoration: none;
  color: black;
  margin-top: 5%;
  margin-left: 22%;

}

#thanjavur button a:hover{
  color: white;
}

#mahabalipuram {
  width: 80%;
  height: fit-content;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  animation: fade linear forwards;
  transform-origin: bottom;
  animation-timeline: view();
  animation-range: exit;
  z-index: 1;
  overflow: hidden;
}

#mahabalipuram img {
  object-fit: fil;
  width: 50%;
  display: flex;
  margin: 30px auto;
  max-height: 1000px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 10px black;
  transition: all ease-in-out 1s;
}

#mahabalipuram img:hover {
  box-shadow: none;
  cursor: pointer;
}

#mahabalipuram .mahabalipuram-content {
  width: 100%;
  margin: 0px 10px;
}

#mahabalipuram .mahabalipuram-content ul li {
  width: 100%;
  margin: 0 30px;
}

#mahabalipuram button {
  display: flex;
  width: 10%;
  height: 30px;
  justify-items: center;
  margin : 20px auto;
  border-radius: 20px;
  font-weight: 1000;
  color: black;
  border: none;
  box-shadow: -5px -5px 10px black;
  transition: transform 0.5s ease-in-out ,background-color 0.5s, color 0.5s;
}

#mahabalipuram button:hover {
  transform : translateY(-10px);
  box-shadow: none;
  cursor: pointer;
  color: white;
  background-color: #333;
}

#mahabalipuram button a {
  text-decoration: none;
  color: black;
  margin-top: 5%;
  margin-left: 22%;

}

#mahabalipuram button a:hover{
  color: white;
}

#Kodaikanal {
  width: 80%;
  height: fit-content;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  animation: fade linear forwards;
  transform-origin: bottom;
  animation-timeline: view();
  animation-range: exit;
  z-index: 1;
  overflow: hidden;
}

#Kodaikanal img {
  object-fit: fil;
  width: 50%;
  display: flex;
  margin: 30px auto;
  max-height: 1000px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 10px black;
  transition: all ease-in-out 1s;
}

#Kodaikanal img:hover {
  box-shadow: none;
  cursor: pointer;
}

#Kodaikanal .Kodaikanal-content {
  width: 100%;
  margin: 0px 10px;
}

#Kodaikanal .Kodaikanal-content ul li {
  width: 100%;
  margin: 0 30px;
}

#Kodaikanal button {
  display: flex;
  width: 10%;
  height: 30px;
  justify-items: center;
  margin : 20px auto;
  border-radius: 20px;
  font-weight: 1000;
  color: black;
  border: none;
  box-shadow: -5px -5px 10px black;
  transition: transform 0.5s ease-in-out ,background-color 0.5s, color 0.5s;
}

#Kodaikanal button:hover {
  transform : translateY(-10px);
  box-shadow: none;
  cursor: pointer;
  color: white;
  background-color: #333;
}

#Kodaikanal button a {
  text-decoration: none;
  color: black;
  margin-top: 5%;
  margin-left: 22%;

}

#Kodaikanal button a:hover{
  color: white;
}

#Ooty {
  width: 80%;
  height: fit-content;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  animation: fade linear forwards;
  transform-origin: bottom;
  animation-timeline: view();
  animation-range: exit;
  z-index: 1;
  overflow: hidden;
}

#Ooty img {
  object-fit: fil;
  width: 50%;
  display: flex;
  margin: 30px auto;
  max-height: 1000px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 10px black;
  transition: all ease-in-out 1s;
}

#Ooty img:hover {
  box-shadow: none;
  cursor: pointer;
}

#Ooty .Ooty-content {
  width: 100%;
  margin: 0px 10px;
}

#Ooty .Ooty-content ul li {
  width: 100%;
  margin: 0 30px;
}

#Ooty button {
  display: flex;
  width: 10%;
  height: 30px;
  justify-items: center;
  margin : 20px auto;
  border-radius: 20px;
  font-weight: 1000;
  color: black;
  border: none;
  box-shadow: -5px -5px 10px black;
  transition: transform 0.5s ease-in-out ,background-color 0.5s, color 0.5s;
}

#Ooty button:hover {
  transform : translateY(-10px);
  box-shadow: none;
  cursor: pointer;
  color: white;
  background-color: #333;
}

#Ooty button a {
  text-decoration: none;
  color: black;
  margin-top: 5%;
  margin-left: 22%;

}

#Ooty button a:hover{
  color: white;
}

#Rameswaram {
  width: 80%;
  height: fit-content;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  animation: fade linear forwards;
  transform-origin: bottom;
  animation-timeline: view();
  animation-range: exit;
  z-index: 1;
  overflow: hidden;
}

#Rameswaram img {
  object-fit: fil;
  width: 50%;
  display: flex;
  margin: 30px auto;
  max-height: 1000px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 10px black;
  transition: all ease-in-out 1s;
}

#Rameswaram img:hover {
  box-shadow: none;
  cursor: pointer;
}

#Rameswaram .Rameswaram-content {
  width: 100%;
  margin: 0px 10px;
}

#Rameswaram .Rameswaram-content ul li {
  width: 100%;
  margin: 0 30px;
}

#Rameswaram button {
  display: flex;
  width: 10%;
  height: 30px;
  justify-items: center;
  margin : 20px auto;
  border-radius: 20px;
  font-weight: 1000;
  color: black;
  border: none;
  box-shadow: -5px -5px 10px black;
  transition: transform 0.5s ease-in-out ,background-color 0.5s, color 0.5s;
}

#Rameswaram button:hover {
  transform : translateY(-10px);
  box-shadow: none;
  cursor: pointer;
  color: white;
  background-color: #333;
}

#Rameswaram button a {
  text-decoration: none;
  color: black;
  margin-top: 5%;
  margin-left: 22%;

}

#Rameswaram button a:hover{
  color: white;
}

#Kanyakumari {
  width: 80%;
  height: fit-content;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  animation: fade linear forwards;
  transform-origin: bottom;
  animation-timeline: view();
  animation-range: exit;
  z-index: 1;
  overflow: hidden;
}

#Kanyakumari img {
  object-fit: fil;
  width: 50%;
  display: flex;
  margin: 30px auto;
  max-height: 1000px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 10px black;
  transition: all ease-in-out 1s;
}

#Kanyakumari img:hover {
  box-shadow: none;
  cursor: pointer;
}

#Kanyakumari .Kanyakumari-content {
  width: 100%;
  margin: 0px 10px;
}

#Kanyakumari .Kanyakumari-content ul li {
  width: 100%;
  margin: 0 30px;
}

#Kanyakumari button {
  display: flex;
  width: 10%;
  height: 30px;
  justify-items: center;
  margin : 20px auto;
  border-radius: 20px;
  font-weight: 1000;
  color: black;
  border: none;
  box-shadow: -5px -5px 10px black;
  transition: transform 0.5s ease-in-out ,background-color 0.5s, color 0.5s;
}

#Kanyakumari button:hover {
  transform : translateY(-10px);
  box-shadow: none;
  cursor: pointer;
  color: white;
  background-color: #333;
}

#Kanyakumari button a {
  text-decoration: none;
  color: black;
  margin-top: 5%;
  margin-left: 22%;

}

#Kanyakumari button a:hover{
  color: white;
}

#Yercaud {
  width: 80%;
  height: fit-content;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  animation: fade linear forwards;
  transform-origin: bottom;
  animation-timeline: view();
  animation-range: exit;
  z-index: 1;
  overflow: hidden;
}

#Yercaud img {
  object-fit: fil;
  width: 50%;
  display: flex;
  margin: 30px auto;
  max-height: 1000px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 10px black;
  transition: all ease-in-out 1s;
}

#Yercaud img:hover {
  box-shadow: none;
  cursor: pointer;
}

#Yercaud .Yercaud-content {
  width: 100%;
  margin: 0px 10px;
}

#Yercaud .Yercaud-content ul li {
  width: 100%;
  margin: 0 30px;
}

#Yercaud button {
  display: flex;
  width: 10%;
  height: 30px;
  justify-items: center;
  margin : 20px auto;
  border-radius: 20px;
  font-weight: 1000;
  color: black;
  border: none;
  box-shadow: -5px -5px 10px black;
  transition: transform 0.5s ease-in-out ,background-color 0.5s, color 0.5s;
}

#Yercaud button:hover {
  transform : translateY(-10px);
  box-shadow: none;
  cursor: pointer;
  color: white;
  background-color: #333;
}

#Yercaud button a {
  text-decoration: none;
  color: black;
  margin-top: 5%;
  margin-left: 22%;

}

#Yercaud button a:hover{
  color: white;
}

#Pondicherry {
  width: 80%;
  height: fit-content;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  animation: fade linear forwards;
  transform-origin: bottom;
  animation-timeline: view();
  animation-range: exit;
  z-index: 1;
  overflow: hidden;
}

#Pondicherry img {
  object-fit: fil;
  width: 50%;
  display: flex;
  margin: 30px auto;
  max-height: 1000px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 10px black;
  transition: all ease-in-out 1s;
}

#Pondicherry img:hover {
  box-shadow: none;
  cursor: pointer;
}

#Pondicherry .Pondicherry-content {
  width: 100%;
  margin: 0px 10px;
}

#Pondicherry .Pondicherry-content ul li {
  width: 100%;
  margin: 0 30px;
}

#Pondicherry button {
  display: flex;
  width: 10%;
  height: 30px;
  justify-items: center;
  margin : 20px auto;
  border-radius: 20px;
  font-weight: 1000;
  color: black;
  border: none;
  box-shadow: -5px -5px 10px black;
  transition: transform 0.5s ease-in-out ,background-color 0.5s, color 0.5s;
}

#Pondicherry button:hover {
  transform : translateY(-10px);
  box-shadow: none;
  cursor: pointer;
  color: white;
  background-color: #333;
}

#Pondicherry button a {
  text-decoration: none;
  color: black;
  margin-top: 5%;
  margin-left: 22%;

}

#Pondicherry button a:hover{
  color: white;
}

section {
  text-align: justify;
}

#bookTrip {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px; /* Limit the width for larger screens */
  margin: 30px auto;
  padding: 20px; /* Add padding for better layout */
  border-radius: 60px;
  box-shadow: -6px -5px 6px gainsboro;
}

#bookTrip:hover {
  box-shadow: none;
}

#bookTrip form h3 {
  text-align: center;
  font-weight: 800;
  font-size: 28px;
}

#bookTrip form {
  width: 100%; /* Make form take full width of the container */
  font-size: 20px;
}

#bookTrip form input,
#bookTrip form select {
  width: 100%; /* Make input boxes and select dropdown responsive */
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box; /* Ensure padding is included in width */
  border: 1px solid #ccc;
  border-radius: 8px;
}

#bookTrip form button {
  width: 100%; /* Make button responsive */
  height: 40px;
  margin: 20px 0;
  border-radius: 30px;
  border: none;
  font-weight: 900;
  transition: transform 0.5s ease-in-out, background-color 0.5s, color 0.5s;
}

#bookTrip form button:hover {
  background-color: #333;
  color: white;
  transform: translateY(-10px);
}

footer {
  width: 100%;
  height: 20vh;
  padding: 10px;
  background-color: #ccc;
}

.footer-content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
  padding-top: 30px ;
  align-items: center;
}

.footer-content a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    max-width: 100%;
  }
  header a {
    font-size: small;
  }

  header h2 {
    font-size: 12px;
  }

  .search-bar input[type="text"] {
    width: 100px;
  }

  #Chennai button, #Madurai button, #thanjavur button, #mahabalipuram button, 
  #Kodaikanal button, #Ooty button, #Rameswaram button, #Kanyakumari button, #Yercaud button,  #Pondicherry button {
  width: 20%;
  }

  .footer-content a, .footer-content p {
    font-size: 12px;
  }

  .footer-content h3 {
    font-size: medium;
  }

}

@media (max-width: 767px) {
  
  header {
    max-width: 100%;
  }

  header a {
    font-size: 8px;
  }

  header h2 {
    font-size: 10px;
  }

  .search-bar input[type="text"] {
    width: 50px;
  }

  section {
    text-align: justify;
  }


  #Chennai h1, #Madurai h1, #thanjavur h1, #mahabalipuram h1, 
  #Kodaikanal h1, #Ooty h1, #Rameswaram h1, #Kanyakumari h1, #Yercaud h1,  #Pondicherry h1 {
  font-size: medium;
  }

  #Chennai h4, #Madurai h4, #thanjavur h4, #mahabalipuram h4, 
  #Kodaikanal h4, #Ooty h4, #Rameswaram h4, #Kanyakumari h4, #Yercaud h4,  #Pondicherry h4 {
  font-size: medium;
  }

  #Chennai p, #Madurai p, #thanjavur p, #mahabalipuram p, 
  #Kodaikanal p, #Ooty p, #Rameswaram p, #Kanyakumari p, #Yercaud p,  #Pondicherry p {
  font-size: small;
  }

  #Chennai ul li, #Madurai ul li, #thanjavur ul li, #mahabalipuram ul li, 
  #Kodaikanal ul li, #Ooty ul li, #Rameswaram ul li, #Kanyakumari ul li, #Yercaud ul li,  #Pondicherry ul li {
  font-size: small;
  }

  #Chennai button, #Madurai button, #thanjavur button, #mahabalipuram button, 
  #Kodaikanal button, #Ooty button, #Rameswaram button, #Kanyakumari button, #Yercaud button,  #Pondicherry button {
  width: 30%;
  }

  #bookTrip {
    width: max-content;
  }

  .footer-content a, .footer-content p {
    font-size: 9px;
  }

  .footer-content h3 {
    font-size: x-small;
  }
}

@media (max-width: 480px) {

  header {
    max-width: 100%;
  }
  
  header h2 {
    font-size: 16px;
  }

  .navbar {
    display: none; /* Hide the original navbar */
}

.search1-bar {
  display: flex;
}


.search1-bar input[type="text"] {
  width: 100px;
}

.dropdown {
    display: flex; /* Show the dropdown */
    position: relative;
    margin-right: 30px;
}

.dropbtn {
    background-color: #333; /* Change as needed */
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .5s ease-in-out .2s;
}

.dropbtn :hover {
    background-color: #ddd;
    color: black;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all .3s ease-in-out .2s;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

  #Chennai img, #Madurai img, #thanjavur img, #mahabalipuram img, 
  #Kodaikanal img, #Ooty img, #Rameswaram img, #Kanyakumari img, #Yercaud img,  #Pondicherry img {
    height: 200px;
  }

  #Chennai button, #Madurai button, #thanjavur button, #mahabalipuram button, 
  #Kodaikanal button, #Ooty button, #Rameswaram button, #Kanyakumari button, #Yercaud button,  #Pondicherry button {
  width: 40%;
  }

}
